[Unit]
Description=Home Assistant
After=network-online.target
[Service]
ExecStart=/srv/homeassistant/bin/hass -v -c /srv/homeassistant/config

[Install]
WantedBy=multi-user.target

